{% extends 'base.html' %}
{%  load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
	<h2>Sign Up</h2>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<button class="btn btn-success" type="SUBMIT">Sign Up</button>
	</form>
{% endblock %}