{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<h2>Login</h2>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="SUBMIT">Login</button>
	</form>
	<a href="{% url 'password_reset' %}">Forgot your password?</a>
{% endblock %}
