{% extends 'base.html' %}
{%  load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
	<h1>Forgot password?</h1>
	<p>Enter your email address</p>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<input class="btn btn-success" type="submit" value="Send me instructions!">
	</form>
{% endblock %}