{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
	<h1>Password reset complete</h1>
	<p>Your new password has been set.</p>
	<a href="{% url 'login' %}">Log in page</a>
{% endblock %}