{% extends 'base.html' %}
{%  load crispy_forms_tags %}

{% block title %}Password Change{% endblock %}
{% block content %}
	<h1>Password change</h1>
	<p>Please enter your old password</p>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<input class="btn btn-success" type="submit" value="Change my password">
	</form>
{% endblock %}